* {
    margin: 0;
}
.wrapper-map-class {    
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
#map-id {       
    width: 100%;
    height:100%;
}
.feature-info-class {
    display: none; 
    justify-content: center;
    align-items: center;   
    position: absolute;
    width: 400px;
    height: 155px;
    top: 10px;
    left: 10px;
    background: #333333;    
    border: solid 1px #dc143c;
    z-index: 5000;    
    border-radius: 5px;
}
.info-class {    
    width: 98%;
    height: 77px;
    background: #222222;
    border: solid 1px #404040;
    color: #bdbdbd;
    font-size: 1.4em;
    padding-left: 5px;
}
.span-value-class {
    font-weight: 600;
    font-style: italic;
}
#span-value-cases-id {
    font-weight: 100;
    color: #dc143c;
}
.close-class {
    display: none; 
    justify-content: center;
    align-items: center;       
    position: absolute;
    top: 16px;
    left: 376px;
    z-index: 6000; 
}
.close-image-class {    
    width: 30px;
    height: 30px;    
}
.close-image-class:hover {
    cursor: pointer;
}
.center-class {
    display: none; 
    justify-content: center;
    align-items: center;       
    position: absolute;
    top: 134px;
    left: 20px;
    z-index: 6000;
}
.center-image-class {    
    width: 25px;
    height: 25px;    
}
.center-image-class:hover {
    cursor: pointer;    
}
.zoomin-class {
    display: none; 
    justify-content: center;
    align-items: center;       
    position: absolute;
    top: 134px;
    left: 60px;    
    z-index: 6000;    
}
.zoomin-image-class {    
    width: 25px;
    height: 25px;    
}
.zoomin-image-class:hover {
    cursor: pointer;    
}
.button-class {
    display: flex; 
    justify-content: center;
    align-items: center;   
    position: absolute;
    width: 150px;
    height: 40px;          
    z-index: 5000;    
    border-radius: 5px;
}
.button-class:hover {
    cursor: pointer;
}
.button-text-class {
    color: #bdbdbd;
    font-size: 1.2em;
}
.active-class {
    background: #333333; 
    border: solid 1px #dc143c; 
}
.passive-class {
    background: black; 
    border: solid 1px #404040; 
}
#cumulative-cases-id {
    top: 550px;
    left: 10px;
}
#active-cases-id {
    top: 550px;
    left: 170px;
}
#paragraph4-id, #paragraph5-id {
    display: none;
}
#span-value-active-id {
    font-weight: 100;
    color: #26e07f;
}
#span-value-recovered-id {
    font-weight: 100;
    color: #e0bf26;
}