{
    "extends": ["airbnb/base"],
    "rules": {"linebreak-style": 0},
    "env": {
          "browser": true,
          "node": true
    },
    "prefer-destructuring": ["error", {
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      }]
}